#include "Base.xcconfig"

APP_BUNDLE_IDENTIFIER = $(IDENTITY_BUNDLE_ID_PREFIX).DNSPilot.dev
DNS_PROXY_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER).DNSProxy
APP_PRODUCT_NAME = DNSPilotDev
APP_DISPLAY_NAME = DNSPilot Dev
DNSPILOT_ENVIRONMENT = development
DNS_PROXY_LOGGING_MODE = debug
DNS_PROXY_MANAGER_FAILURE_INJECTION_ALLOWED = YES
DNS_PROXY_GATE_A_PROBE_ALLOWED = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DNSPILOT_DEBUG_LOCAL
